<head>
    <title>Everyone should learn C</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1 class="MUGA">
            Everyone should learn C
        </h1>
        
            <table class="info">
    <tbody>
        <tr class="info-date">
            <td><i class="bi bi-clock"></i></td>
            <td>2022-09-12</td>
        </tr>
        <tr class="info-reading-time">
            <td><i class="bi bi-hourglass"></i></td>
            <td>Reading time 8 min.</td>
        </tr>
        <tr class="info-tags">
            <td><i class="bi bi-tags"></i></td>
            <td>
                
                    
                    <a class="tag" href="/tags/computer-science">computer-science</a>
                
                    
                    <a class="tag" href="/tags/technology">technology</a>
                
            </td>
        </tr>
    </tbody>
</table>

        
        
<p>
Everyone that is going into computer science should learn how to write C.</p>
<p>
I can hear people saying, &#34;But who uses C in 2022? That&#39;s for boomers and a waste of time. I&#39;m just going to write everything in my epic wholesome language like Python or JS. That way, I have more time to play Valorant and look at my phone more than my parents.&#34;</p>
<p>
My reasons that I will list here isn&#39;t because C is fast. We all know that C is fast. However, not all of us are going to build an entire operating system, web browser, text editor, etc. And it&#39;s also not because there is a lot of demand for C either.</p>
<p>
I sort of automatically assume anyone that doesn&#39;t know the basics of C knows less of what they are doing than if they did. That, however, does not actually bar you from writing anything good if you have no knowledge of C; plenty of popular, well-written software have been written by people who do not know any C.</p>
<p>
But how are you going to know how a computer works or how a computer thinks?</p>
<div id="outline-container-headline-1" class="outline-2">
<h2 id="headline-1">
You will start thinking like a computer
</h2>
<div id="outline-text-headline-1" class="outline-text-2">
<p>
Let&#39;s take this snippet of JS.</p>
<div class="src src-javascript">
<div class="highlight"><div style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">1
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">2
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-javascript" data-lang="javascript"><span style="display:flex;"><span><span style="color:#ff79c6">const</span> arr <span style="color:#ff79c6">=</span> [ <span style="color:#bd93f9">2</span>, <span style="color:#bd93f9">3</span>, <span style="color:#bd93f9">5</span>, <span style="color:#bd93f9">7</span>, <span style="color:#bd93f9">9</span> ]
</span></span><span style="display:flex;"><span>arr.filter(x =&gt; x <span style="color:#ff79c6">&lt;</span> <span style="color:#bd93f9">6</span>).map(x =&gt; x <span style="color:#ff79c6">+</span> <span style="color:#bd93f9">2</span>).forEach(x =&gt; console.log(x));</span></span></code></pre></td></tr></table>
</div>
</div>
</div>
<p>
It sounds very declarative. It does what you want it to do. However, the way you read this is a lot like English. Filter the array such that each element is less than 6, add two to each element, and print each element.</p>
<p>
It&#39;s not that thinking in English is wrong, but if something goes wrong, it&#39;s hard to debug and see exactly what happened. It describes what is done but not how it is done, which makes it harder to follow the steps.</p>
<p>
Here&#39;s the same snippet but in C.</p>
<div class="src src-c">
<div class="highlight"><div style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">1
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">2
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">3
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">4
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">5
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">6
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">7
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">8
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">9
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-c" data-lang="c"><span style="display:flex;"><span><span style="color:#8be9fd">int</span> arr[] <span style="color:#ff79c6">=</span> { <span style="color:#bd93f9">2</span>, <span style="color:#bd93f9">3</span>, <span style="color:#bd93f9">5</span>, <span style="color:#bd93f9">7</span>, <span style="color:#bd93f9">9</span> };
</span></span><span style="display:flex;"><span><span style="color:#8be9fd">int</span> size <span style="color:#ff79c6">=</span> <span style="color:#ff79c6">sizeof</span>(arr) <span style="color:#ff79c6">/</span> <span style="color:#ff79c6">sizeof</span>(arr[<span style="color:#bd93f9">0</span>]);
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span><span style="color:#ff79c6">for</span> (<span style="color:#8be9fd">int</span> i <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">0</span>; i <span style="color:#ff79c6">&lt;</span> size; i<span style="color:#ff79c6">++</span>) {
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">if</span> (arr[i] <span style="color:#ff79c6">&lt;</span> <span style="color:#bd93f9">6</span>) {
</span></span><span style="display:flex;"><span>        arr[i] <span style="color:#ff79c6">+=</span> <span style="color:#bd93f9">2</span>;
</span></span><span style="display:flex;"><span>        printf(<span style="color:#f1fa8c">&#34;%d</span><span style="color:#f1fa8c">\n</span><span style="color:#f1fa8c">&#34;</span>, arr[i]);
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>}</span></span></code></pre></td></tr></table>
</div>
</div>
</div>
<p>
You can see exactly what is happening. You are iterating through the array, checking if each element is less than 6, adding 2 if it is, and printing it. This is a lot closer to how computers think.</p>
<p>
If something ever goes wrong in the middle of your code, it&#39;s easier to see what happened as it is laid out in steps, and you can pinpoint exactly what went wrong.</p>
</div>
</div>
<div id="outline-container-headline-2" class="outline-2">
<h2 id="headline-2">
You will understand what abstractions do
</h2>
<div id="outline-text-headline-2" class="outline-text-2">
<p>
Higher-level languages do a good job at abstracting information from you that you do not have to worry about it. One of the most common abstractions in higher level languages you will see is memory allocation.</p>
<p>
C gives you the tools to manually allocate data on the heap. Using these tools can give you a better understanding on how stack and heap memory works.</p>
<p>
Higher level languages like Java and C# have garbage collectors that automatically free memory. This makes your life significantly easier. No more dangling pointers, and handling memory is much safer. But it can make it more difficult to understand what is going on under the hood.</p>
<p>
A good example of something abstracted away from higher level languages is the concept of an array. In a higher level language, an array is an object that has a size property and bounds checking. High school computer science classes will teach you it&#39;s only a data type to store a list of other data.</p>
<div class="src src-python">
<div class="highlight"><div style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">1
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">2
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">3
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">4
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">5
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">6
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-python" data-lang="python"><span style="display:flex;"><span>array <span style="color:#ff79c6">=</span> [ <span style="color:#ff79c6">None</span> ] <span style="color:#ff79c6">*</span> <span style="color:#bd93f9">4</span>
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>array[<span style="color:#bd93f9">0</span>] <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">2</span>
</span></span><span style="display:flex;"><span>array[<span style="color:#bd93f9">1</span>] <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">30</span>
</span></span><span style="display:flex;"><span>array[<span style="color:#bd93f9">2</span>] <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">4</span>
</span></span><span style="display:flex;"><span>array[<span style="color:#bd93f9">3</span>] <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">8</span></span></span></code></pre></td></tr></table>
</div>
</div>
</div>
<p>
In C, an array is just a bunch of data allocated in memory next to each other. They are contiguous blocks of memory that can be accessed with pointer arithmetic. There is no bounds checking, and you have to keep track of the size of the array yourself. </p>
<p>
Index notation in C is short for a pointer with an offset. The reason why indices start at 0 is because it&#39;s 0 addresses away from the first element.</p>
<div class="src src-c">
<div class="highlight"><div style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 1
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 2
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 3
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 4
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 5
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 6
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 7
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 8
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 9
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">10
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">11
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">12
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">13
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">14
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">15
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">16
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">17
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">18
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">19
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">20
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">21
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">22
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">23
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">24
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">25
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-c" data-lang="c"><span style="display:flex;"><span><span style="color:#8be9fd">int</span> <span style="color:#50fa7b">main</span>() {
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">const</span> <span style="color:#8be9fd">int</span> len <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">4</span>;
</span></span><span style="display:flex;"><span>  <span style="color:#8be9fd">int</span> <span style="color:#ff79c6">*</span>arr;
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  <span style="color:#6272a4">// allocate memory for 4 integers that will be next to each other
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>  arr <span style="color:#ff79c6">=</span> (<span style="color:#8be9fd">int</span><span style="color:#ff79c6">*</span>)malloc(<span style="color:#ff79c6">sizeof</span>(<span style="color:#8be9fd">int</span>) <span style="color:#ff79c6">*</span> len);
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  <span style="color:#6272a4">// value that arr points to is 2
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>  <span style="color:#ff79c6">*</span>arr <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">2</span>; <span style="color:#6272a4">// arr[0] = 2
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>
</span></span><span style="display:flex;"><span>  <span style="color:#6272a4">// value of the integer that is 1 address ahead of arr is 30
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>  <span style="color:#ff79c6">*</span>(arr <span style="color:#ff79c6">+</span> <span style="color:#bd93f9">1</span>) <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">30</span>; <span style="color:#6272a4">// arr[1] = 30
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>
</span></span><span style="display:flex;"><span>  <span style="color:#6272a4">// value of the integer that is 2 addresses ahead of arr is 4
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>  arr[<span style="color:#bd93f9">2</span>] <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">4</span>; <span style="color:#6272a4">// *(arr + 2) = 4
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>
</span></span><span style="display:flex;"><span>  <span style="color:#6272a4">// you can even do something stupid like this
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>  <span style="color:#8be9fd">int</span> <span style="color:#ff79c6">**</span>next_address <span style="color:#ff79c6">=</span> ((<span style="color:#8be9fd">int</span>(<span style="color:#ff79c6">*</span>)[<span style="color:#bd93f9">4</span>])arr) <span style="color:#ff79c6">+</span> <span style="color:#bd93f9">1</span>;
</span></span><span style="display:flex;"><span>  <span style="color:#8be9fd">int</span> <span style="color:#ff79c6">*</span>last_element <span style="color:#ff79c6">=</span> (<span style="color:#8be9fd">int</span> <span style="color:#ff79c6">*</span>)next_address <span style="color:#ff79c6">-</span> <span style="color:#bd93f9">1</span>;
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">*</span>last_element <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">8</span>; <span style="color:#6272a4">// arr[3] == *last_element
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>
</span></span><span style="display:flex;"><span>  <span style="color:#6272a4">// this is out of range, but it still compiles
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>  <span style="color:#6272a4">// this may or may not cause can error at runtime
</span></span></span><span style="display:flex;"><span><span style="color:#6272a4"></span>  arr[<span style="color:#bd93f9">123</span>] <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">2</span>;
</span></span><span style="display:flex;"><span>}</span></span></code></pre></td></tr></table>
</div>
</div>
</div>
<p>
The index operator is only simply another way of writing pointer arithmetic.</p>
<p>
Higher level languages hide this from you. They won&#39;t show you how memory is laid out in a program, and they won&#39;t show you why an array is a reference type. They just give you an easy way to use an array.</p>
<p>
In C, you have to understand how memory is laid out, and you have to understand how an array is just a contiguous block of memory. This understanding will help you not only when you need to use a lower level language, but also when you need to understand how a higher level language works.</p>
</div>
</div>
<div id="outline-container-headline-3" class="outline-2">
<h2 id="headline-3">
You will understand what you write
</h2>
<div id="outline-text-headline-3" class="outline-text-2">
<p>
C# was one of the first languages I learned. One of the things that used to bug me was why different types are passed, compared, and set etc. by value or by reference.</p>
<p>
Here we have an example C# program:</p>
<div class="src src-csharp">
<div class="highlight"><div style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 1
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 2
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 3
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 4
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 5
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 6
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 7
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 8
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 9
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">10
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">11
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">12
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">13
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">14
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">15
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">16
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">17
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">18
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">19
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">20
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">21
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">22
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">23
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">24
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">25
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-csharp" data-lang="csharp"><span style="display:flex;"><span><span style="color:#ff79c6">class</span> <span style="color:#50fa7b">Program</span>
</span></span><span style="display:flex;"><span>{
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">struct</span> <span style="color:#50fa7b">TestStruct</span>
</span></span><span style="display:flex;"><span>    {
</span></span><span style="display:flex;"><span>        <span style="color:#ff79c6">public</span> <span style="color:#8be9fd">int</span> val;
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">class</span> <span style="color:#50fa7b">TestClass</span>
</span></span><span style="display:flex;"><span>    {
</span></span><span style="display:flex;"><span>        <span style="color:#ff79c6">public</span> <span style="color:#8be9fd">int</span> val;
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">static</span> <span style="color:#ff79c6">void</span> Main(<span style="color:#8be9fd">string</span>[] args)
</span></span><span style="display:flex;"><span>    {
</span></span><span style="display:flex;"><span>        TestStruct forsen = <span style="color:#ff79c6">new</span> TestStruct { val = <span style="color:#bd93f9">0</span> };
</span></span><span style="display:flex;"><span>        TestStruct weeb = <span style="color:#ff79c6">new</span> TestStruct { val = <span style="color:#bd93f9">0</span> };
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>        TestClass velcuz = <span style="color:#ff79c6">new</span> TestClass { val = <span style="color:#bd93f9">0</span> };
</span></span><span style="display:flex;"><span>        TestClass funny = <span style="color:#ff79c6">new</span> TestClass { val = <span style="color:#bd93f9">0</span> };
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>        Console.WriteLine(<span style="color:#f1fa8c">$&#34;forsen is weeb: {forsen == weeb}&#34;</span>);
</span></span><span style="display:flex;"><span>        Console.WriteLine(<span style="color:#f1fa8c">$&#34;velcuz is funny: {velcuz == funny}&#34;</span>);
</span></span><span style="display:flex;"><span>        Console.WriteLine(<span style="color:#f1fa8c">$&#34;velcuz is weeb: {velcuz.val == weeb.val}&#34;</span>);
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>}</span></span></code></pre></td></tr></table>
</div>
</div>
</div>
<pre class="example">
forsen is weeb: true
velcuz is funny: false
velcuz is weeb: true
</pre>
<p>
You will notice that when you compare <code>forsen</code> and <code>weeb</code>, their values are compared, not their reference, so <code>forsen == weeb</code>.</p>
<p>
But <code>velcuz</code> and <code>funny</code> are reference types, so the addresses they are pointing to are compared.</p>
<p>
You will also notice that <code>velcuz.val</code> is equal to <code>weeb.val</code>, and since they are both <code>int</code>, they are compared by value.</p>
<p>
If you were starting to learn C#, it seems to be confusing because there isn&#39;t really a way to distinguish a value and a reference.</p>
<p>
Here&#39;s the same example but in C.</p>
<div class="src src-c">
<div class="highlight"><div style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 1
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 2
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 3
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 4
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 5
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 6
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 7
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 8
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 9
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">10
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">11
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">12
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">13
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">14
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">15
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">16
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">17
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">18
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">19
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">20
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">21
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">22
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">23
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">24
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">25
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-c" data-lang="c"><span style="display:flex;"><span><span style="color:#ff79c6">struct</span> test_struct {
</span></span><span style="display:flex;"><span>  <span style="color:#8be9fd">int</span> val;
</span></span><span style="display:flex;"><span>};
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span><span style="color:#8be9fd">int</span> <span style="color:#50fa7b">main</span>() {
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">const</span> SIZE <span style="color:#ff79c6">=</span> <span style="color:#ff79c6">sizeof</span>(<span style="color:#ff79c6">struct</span> test_struct);
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">struct</span> test_struct forsen <span style="color:#ff79c6">=</span> { .val <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">0</span> };
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">struct</span> test_struct weeb <span style="color:#ff79c6">=</span> { .val <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">0</span> };
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">struct</span> test_struct <span style="color:#ff79c6">*</span>velcuz <span style="color:#ff79c6">=</span> (<span style="color:#ff79c6">struct</span> test_struct<span style="color:#ff79c6">*</span>)malloc(SIZE);
</span></span><span style="display:flex;"><span>  velcuz<span style="color:#ff79c6">-&gt;</span>val <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">0</span>;
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">struct</span> test_struct <span style="color:#ff79c6">*</span>funny <span style="color:#ff79c6">=</span> (<span style="color:#ff79c6">struct</span> test_struct<span style="color:#ff79c6">*</span>)malloc(SIZE);
</span></span><span style="display:flex;"><span>  funny<span style="color:#ff79c6">-&gt;</span>val <span style="color:#ff79c6">=</span> <span style="color:#bd93f9">0</span>;
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  printf(<span style="color:#f1fa8c">&#34;forsen is weeb: %s</span><span style="color:#f1fa8c">\n</span><span style="color:#f1fa8c">&#34;</span>,
</span></span><span style="display:flex;"><span>         memcmp(<span style="color:#ff79c6">&amp;</span>forsen, <span style="color:#ff79c6">&amp;</span>weeb, SIZE) <span style="color:#ff79c6">==</span> <span style="color:#bd93f9">0</span> <span style="color:#ff79c6">?</span> <span style="color:#f1fa8c">&#34;true&#34;</span> <span style="color:#ff79c6">:</span> <span style="color:#f1fa8c">&#34;false&#34;</span>);
</span></span><span style="display:flex;"><span>  printf(<span style="color:#f1fa8c">&#34;velcuz is funny: %s</span><span style="color:#f1fa8c">\n</span><span style="color:#f1fa8c">&#34;</span>,
</span></span><span style="display:flex;"><span>         memcmp(<span style="color:#ff79c6">&amp;</span>velcuz, <span style="color:#ff79c6">&amp;</span>funny, SIZE) <span style="color:#ff79c6">==</span> <span style="color:#bd93f9">0</span> <span style="color:#ff79c6">?</span> <span style="color:#f1fa8c">&#34;true&#34;</span> <span style="color:#ff79c6">:</span> <span style="color:#f1fa8c">&#34;false&#34;</span>);
</span></span><span style="display:flex;"><span>  printf(<span style="color:#f1fa8c">&#34;velcuz is weeb: %s</span><span style="color:#f1fa8c">\n</span><span style="color:#f1fa8c">&#34;</span>,
</span></span><span style="display:flex;"><span>         memcmp(<span style="color:#ff79c6">&amp;</span>velcuz<span style="color:#ff79c6">-&gt;</span>val, <span style="color:#ff79c6">&amp;</span>weeb.val, SIZE) <span style="color:#ff79c6">==</span> <span style="color:#bd93f9">0</span> <span style="color:#ff79c6">?</span> <span style="color:#f1fa8c">&#34;true&#34;</span> <span style="color:#ff79c6">:</span> <span style="color:#f1fa8c">&#34;false&#34;</span>);
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">return</span> <span style="color:#bd93f9">0</span>;
</span></span><span style="display:flex;"><span>}</span></span></code></pre></td></tr></table>
</div>
</div>
</div>
<pre class="example">
forsen is weeb: true
velcuz is funny: false
velcuz is weeb: true
</pre>
<p>
C, however, distinguishes values and references with pointers and reference operations. It lets you understand how values and references are compared. The nature of pointers and references are become a lot more obvious, whereas in C#, it just appears to be more theoretical.</p>
<p>
C shows you that when you compare two reference types in a higher level language, all you&#39;re really doing is comparing if they point to the same object, just like how you compare two pointers to an object on the heap.</p>
</div>
</div>
<div id="outline-container-headline-4" class="outline-2">
<h2 id="headline-4">
Conclusion
</h2>
<div id="outline-text-headline-4" class="outline-text-2">
<p>
Although you will not write everything in C, it is good to have a fundamental knowledge in C as it gives you an idea of how your computer and how your favorite language works.</p>
<p>
It would be easier to teach a student C as it gives them the practical concepts of programming rather than logical concepts and paradigms. Just like in math, it is far easier to understand it if you are able to understand proofs rather than simply memorizing equations.</p>
<p>
Unlike other languages, C is a rather simple language compared to the abstracted high-level languages they commonly teach in high school computer science courses.</p>
</div>
</div>

        <h2 id="comments">Comments</h2>
        <div id="remark42">
</div>
<script>
 var remark_config = {
     host: "https://remark.sandvich.xyz",
     site_id: "sandvich",
     url: "https://sandvich.xyz/posts/everyone-should-learn-c/",
     locale: "en",
     
 };

 (function(c) {
     for(var i = 0; i < c.length; i++){
         var d = document, s = d.createElement('script');
         s.src = remark_config.host + '/web/' + c[i] +'.js';
         s.defer = true;
         (d.head || d.body).appendChild(s);
     }
 })(remark_config.components || ['embed']);
</script>

        <div id="footer">
    <hr>
     <center>
         who is he talking to <img src="/LULE.png" style="vertical-align: middle;">
     </center>
</div>

    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
