<head>
    <title>Software I Use/Recommend</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1 class="MUGA">
            Software I Use/Recommend
        </h1>
        
            <table class="info">
    <tbody>
        <tr class="info-date">
            <td><i class="bi bi-clock"></i></td>
            <td>2022-09-05</td>
        </tr>
        <tr class="info-reading-time">
            <td><i class="bi bi-hourglass"></i></td>
            <td>Reading time 1 min.</td>
        </tr>
        <tr class="info-tags">
            <td><i class="bi bi-tags"></i></td>
            <td>
                
                    
                    <a class="tag" href="/tags/software">software</a>
                
                    
                    <a class="tag" href="/tags/emacs">emacs</a>
                
            </td>
        </tr>
    </tbody>
</table>

        
        
<p>
Dotfiles can be viewed <a href="https://github.com/humanoidsandvichdispenser/dotfiles">here</a> (emacs config in a separate repo).</p>
<div id="outline-container-headline-1" class="outline-2">
<h2 id="headline-1">
Terminal Emulator
</h2>
<div id="outline-text-headline-1" class="outline-text-2">
<p>
I mainly use <code>st</code> because it starts up instantly. I occassionally use <code>alacritty</code> since fonts and emojis are currently broken on my build.</p>
</div>
</div>
<div id="outline-container-headline-2" class="outline-2">
<h2 id="headline-2">
Shell
</h2>
<div id="outline-text-headline-2" class="outline-text-2">
<p>
<code>zsh</code>. It&#39;s a better interactive shell that isn&#39;t <code>fish</code>. I wouldn&#39;t use <code>fish</code> because I&#39;m used to writing <code>bash</code> syntax.</p>
</div>
</div>
<div id="outline-container-headline-3" class="outline-2">
<h2 id="headline-3">
Window Manager
</h2>
<div id="outline-text-headline-3" class="outline-text-2">
<p>
I use <code>bspwm</code>. It&#39;s very easy to configure, and you can easily script it. I&#39;ve noticed as more time passes, the more logic I include in my configuration file.</p>
</div>
</div>
<div id="outline-container-headline-4" class="outline-2">
<h2 id="headline-4">
Text Editing
</h2>
<div id="outline-text-headline-4" class="outline-text-2">
<p>
I&#39;ve been a Neovim user for a few years, but recently, I have switched to Emacs. What I really like about Emacs is that you if some small functionality is missing, you can easily write it.</p>
<p>
I wouldn&#39;t say Emacs Lisp is the greatest language, but it is the most fun language to write in.</p>
<img src="../../assets/emacs.png" alt="../assets/emacs.png" title="../assets/emacs.png"/>
</div>
</div>
<div id="outline-container-headline-5" class="outline-2">
<h2 id="headline-5">
File Manager
</h2>
<div id="outline-text-headline-5" class="outline-text-2">
<p>
I&#39;m either going to be manually managing my files on the command line or using a GUI, usually Thunar. I do not like TUI file managers because I&#39;m too slow for them.</p>
</div>
</div>
<div id="outline-container-headline-6" class="outline-2">
<h2 id="headline-6">
Web Browser
</h2>
<div id="outline-text-headline-6" class="outline-text-2">
<p>
I use Firefox.</p>
</div>
</div>
<div id="outline-container-headline-7" class="outline-2">
<h2 id="headline-7">
Document Editing
</h2>
<div id="outline-text-headline-7" class="outline-text-2">
<p>
I used to write my documents using LaTeX, but now I usually write them in Org Mode because it&#39;s a lot more convenient and does more stuff.</p>
</div>
</div>

        <h2 id="comments">Comments</h2>
        <div id="remark42">
</div>
<script>
 var remark_config = {
     host: "https://remark.sandvich.xyz",
     site_id: "sandvich",
     url: "https://sandvich.xyz/posts/software-i-use/",
     locale: "en",
     
 };

 (function(c) {
     for(var i = 0; i < c.length; i++){
         var d = document, s = d.createElement('script');
         s.src = remark_config.host + '/web/' + c[i] +'.js';
         s.defer = true;
         (d.head || d.body).appendChild(s);
     }
 })(remark_config.components || ['embed']);
</script>

        <div id="footer">
    <hr>
     <center>
         who is he talking to <img src="/LULE.png" style="vertical-align: middle;">
     </center>
</div>

    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
