<head>
    <title>Batch download music into your Jellyfin server!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1 class="MUGA">
            Batch download music into your Jellyfin server!
        </h1>
        
            <table class="info">
    <tbody>
        <tr class="info-date">
            <td><i class="bi bi-clock"></i></td>
            <td>2023-01-25</td>
        </tr>
        <tr class="info-reading-time">
            <td><i class="bi bi-hourglass"></i></td>
            <td>Reading time 2 min.</td>
        </tr>
        <tr class="info-tags">
            <td><i class="bi bi-tags"></i></td>
            <td>
                
                    
                    <a class="tag" href="/tags/jellyfin">jellyfin</a>
                
                    
                    <a class="tag" href="/tags/software">software</a>
                
                    
                    <a class="tag" href="/tags/technology">technology</a>
                
            </td>
        </tr>
    </tbody>
</table>

        
        
<p>
<em>Disclaimer: this guide is only for educational purposes and I do not recommend or condone any of this. Of course, piracy is bad and illegal. You wouldn&#39;t download a car. This is just a guide on what services you <strong>definitely</strong> should not use.</em></p>
<p>
<img src="https://cdn.7tv.app/emote/60ae3804259ac5a73e2bff3d/3x.png" alt="https://cdn.7tv.app/emote/60ae3804259ac5a73e2bff3d/3x.png" title="https://cdn.7tv.app/emote/60ae3804259ac5a73e2bff3d/3x.png" /></p>
<div id="outline-container-headline-1" class="outline-2">
<h2 id="headline-1">
Deemix
</h2>
<div id="outline-text-headline-1" class="outline-text-2">
<p>
Deemix is a piece of software that allows you to rip music straight from Deezer. A lot of online pirates are probably familiar with this tool, as it allows them to easily and quickly access millions of songs from the streaming service. But there is a <a href="https://gitlab.com/Bockiii/deemix-docker">Docker container</a> that serves a web GUI, so you can stick it in your media server.</p>
<p>
This is very convenient for those who want to listen to music on their own media server. No longer do you have to download from YouTube and fix any broken metadata and then manually transfer it to your media server.</p>
</div>
</div>
<div id="outline-container-headline-2" class="outline-2">
<h2 id="headline-2">
Docker Compose
</h2>
<div id="outline-text-headline-2" class="outline-text-2">
<p>
Here&#39;s my <code>docker-compose.yml</code> that sets up both Deemix and Jellyfin (just an example, I don&#39;t actually use this 👍 +500 social credit)</p>
<div class="src src-yaml">
<div class="highlight"><div style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 1
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 2
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 3
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 4
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 5
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 6
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 7
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 8
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f"> 9
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">10
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">11
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">12
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">13
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">14
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">15
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">16
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">17
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">18
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">19
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">20
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">21
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">22
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">23
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">24
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">25
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">26
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">27
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">28
</span><span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f">29
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#f8f8f2;background-color:#282a36;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-yaml" data-lang="yaml"><span style="display:flex;"><span><span style="color:#ff79c6">version</span>: <span style="color:#f1fa8c">&#34;2.1&#34;</span>
</span></span><span style="display:flex;"><span><span style="color:#ff79c6">services</span>:
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">jellyfin</span>:
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">image</span>: lscr.io/linuxserver/jellyfin:latest
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">container_name</span>: jellyfin
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">environment</span>:
</span></span><span style="display:flex;"><span>      - PUID=1000
</span></span><span style="display:flex;"><span>      - PGID=1000
</span></span><span style="display:flex;"><span>      - TZ=America/Los_Angeles
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">volumes</span>:
</span></span><span style="display:flex;"><span>      - /data/jellyfin/config:/config
</span></span><span style="display:flex;"><span>      - /data/jellyfin/deemix:/data/deemix-downloads
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">ports</span>:
</span></span><span style="display:flex;"><span>      - <span style="color:#bd93f9">8096</span>:<span style="color:#bd93f9">8096</span>
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">restart</span>: unless-stopped
</span></span><span style="display:flex;"><span>  <span style="color:#ff79c6">deemix</span>:
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">image</span>: registry.gitlab.com/bockiii/deemix-docker
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">container_name</span>: Deemix
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">volumes</span>:
</span></span><span style="display:flex;"><span>      - /data/deemix/config:/config
</span></span><span style="display:flex;"><span>      - /data/jellyfin/deemix:/downloads
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">environment</span>:
</span></span><span style="display:flex;"><span>      - PUID=1000
</span></span><span style="display:flex;"><span>      - PGID=1000
</span></span><span style="display:flex;"><span>      - UMASK_SET=022
</span></span><span style="display:flex;"><span>      - DEEMIX_SINGLE_USER=true
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">ports</span>:
</span></span><span style="display:flex;"><span>      - <span style="color:#bd93f9">6595</span>:<span style="color:#bd93f9">6595</span>
</span></span><span style="display:flex;"><span>    <span style="color:#ff79c6">restart</span>: unless-stopped</span></span></code></pre></td></tr></table>
</div>
</div>
</div>
</div>
</div>
<div id="outline-container-headline-3" class="outline-2">
<h2 id="headline-3">
How use <img src="https://cdn.7tv.app/emote/603caa69faf3a00014dff0b1/1x.png" alt="https://cdn.7tv.app/emote/603caa69faf3a00014dff0b1/1x.png" title="https://cdn.7tv.app/emote/603caa69faf3a00014dff0b1/1x.png" /> ❓
</h2>
<div id="outline-text-headline-3" class="outline-text-2">
<p>
Make sure that the Deemix download directory is mounted to both Deemix and Jellyfin to automate the process.</p>
<img src="/assets/deemix-download.png" alt="../assets/deemix-download.png" title="../assets/deemix-download.png"/>
<p>
In my <code>docker-compose.yml</code>, the container directory <code>/downloads</code> is mounted/bound to the host directory <code>/data/jellyfin/deemix</code>.</p>
<img src="/assets/jellyfin-deemix.png" alt="../assets/jellyfin-deemix.png" title="../assets/jellyfin-deemix.png"/>
<p>
…which is also bound to my Jellyfin server at the container directory <code>/data/deemix-downloads</code></p>
<img src="/assets/deemix.png" alt="../assets/deemix.png" title="../assets/deemix.png"/>
<p>
Now I just search up any song, album, or discography, and it will instantly show up on the Jellyfin server.</p>
</div>
</div>
<div id="outline-container-headline-4" class="outline-2">
<h2 id="headline-4">
Conclusion
</h2>
<div id="outline-text-headline-4" class="outline-text-2">
<p>
As you can see, this is very illegal because it is stealing, and therefore this is bad. I hope you found this educational in that you now know the dangers of piracy and what you should avoid doing.</p>
</div>
</div>

        <h2 id="comments">Comments</h2>
        <div id="remark42">
</div>
<script>
 var remark_config = {
     host: "https://remark.sandvich.xyz",
     site_id: "sandvich",
     url: "https://sandvich.xyz/posts/batch-download-music/",
     locale: "en",
     
 };

 (function(c) {
     for(var i = 0; i < c.length; i++){
         var d = document, s = d.createElement('script');
         s.src = remark_config.host + '/web/' + c[i] +'.js';
         s.defer = true;
         (d.head || d.body).appendChild(s);
     }
 })(remark_config.components || ['embed']);
</script>

        <div id="footer">
    <hr>
     <center>
         who is he talking to <img src="/LULE.png" style="vertical-align: middle;">
     </center>
</div>

    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
