<head>
    <title>contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1>
            
                Posts tagged with #contact
        </h1>
        
            <div class="post-list">
    
        
<div class="post-item">
    <h1>
        <a href="/contact/">Contact Information</a>
    </h1>
    
    
        <p>
            Email humanoidsandvichdispenser@gmail.com
Encrypt with GPG key curl https://sandvich.xyz/sandvich.gpg | gpg --import 1643 9496 7ED2 8385 A5FE DBCD 9A39 BE37 E602 B22D All emails from me will be signed with my GPG key.
Discord/Matrix Discord: pyro from csgo#6740 Matrix: @humanoidsandvichdispenser:matrix.org
Other You can instead sign in to GitHub or remain anonymous and leave a comment below.
        </p>
        
    
</div>

    
</div>

        
    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
