<head>
    <title>Posts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1>
            Posts
        </h1>
        
            <div class="post-list">
    
        
<div class="post-item">
    <h1>
        <a href="/posts/comments/">Comments</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2023-07-04</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            If you&rsquo;re wondering why there are no comments or why it is broken, I temporarily disconnected my Raspberry Pi which is hosting the Remark42 server with all the comments.
It will be back probably Friday, shirley 
        </p>
        
    
</div>

    
        
<div class="post-item">
    <h1>
        <a href="/posts/never-doubt/">18:10</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2023-03-22</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
        </span>
    </span>
</div>

    
    
        <p>
            NEVER DOUBT
        </p>
        
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/batch-download-music/">Batch download music into your Jellyfin server!</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2023-01-25</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 2 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/jellyfin">jellyfin</a>
            
                
                <a class="tag" href="/tags/software">software</a>
            
                
                <a class="tag" href="/tags/technology">technology</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            Disclaimer: this guide is only for educational purposes and I do not recommend or condone any of this. Of course, piracy is bad and illegal. You wouldn&#39;t download a car. This is just a guide on what services you definitely should not use.
Deemix Deemix is a piece of software that allows you to rip music straight from Deezer. A lot of online pirates are probably familiar with this tool, as it allows them to easily and quickly access millions of songs from the streaming service.
        </p>
        
            <div class="read-more-button">
                <a href="/posts/batch-download-music/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
        
<div class="post-item">
    <h1>
        <a href="/posts/hot-take/">Hot Take</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-11-04</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            Using Chrome in the year of Our Lord 2022 should both be a crime and a punishment
        </p>
        
    
</div>

    
        
<div class="post-item">
    <h1>
        <a href="/posts/redesign/">Redesign</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-10-31</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            <p>
Site has been redesigned to look more simple in terms of colors. More attractive and normandie friendly.</p>
        </p>
        
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/images/">Images</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-10-22</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/dont-serf-the-internet/">Don&#39;t &#34;serf&#34; the internet!</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-09-21</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 6 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/technology">technology</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            Today, my school had their morning announcements, and one of the activities included a question: &#34;Would you rather not be able to use Google or not be able to use social media?&#34; The easiest choice to pick was to not be able to use social media.
Later in my government class, we were forming groups for a club. My classmate asked me for my contact info and asked me to input my Instagram username.
        </p>
        
            <div class="read-more-button">
                <a href="/posts/dont-serf-the-internet/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/discord-sucks/">Discord SUCKS!!! 😡😡💥</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-09-17</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 4 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/software">software</a>
            
                
                <a class="tag" href="/tags/technology">technology</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            I&#39;ve been a long-time Discord user, but over the past few years, I have come to realize that Discord really sucks.
No end-to-end encryption Discord does not have any end-to-end encryption and neither will they consider implementing it in the future. This actually becomes more important over the past few years as Discord shifts its focus from gamers to general users. What used to be an app to keep gaming communities connected has now become a platform for any type of online chat.
        </p>
        
            <div class="read-more-button">
                <a href="/posts/discord-sucks/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/fish-young-argument/">The Fish and Young Argument</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-09-09</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 2 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/english">english</a>
            
                
                <a class="tag" href="/tags/language">language</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            What is the write way to right?
Stanley Fish argues grammar is structure is essential to English composition. He supports the idea that teaching a correct grammar is essential to teaching composition, and all college composition classes should teach the traditional forms of English grammar for academic writing.
He believes that teaching the &#34;proper&#34; form of English isn&#39;t robbing people of whatever dialect of English that they use. Rather, they are learning a new language alongside.
        </p>
        
            <div class="read-more-button">
                <a href="/posts/fish-young-argument/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/software-i-use/">Software I Use/Recommend</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-09-05</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/software">software</a>
            
                
                <a class="tag" href="/tags/emacs">emacs</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            Dotfiles can be viewed here (emacs config in a separate repo).
Terminal Emulator I mainly use st because it starts up instantly. I occassionally use alacritty since fonts and emojis are currently broken on my build.
Shell zsh. It&#39;s a better interactive shell that isn&#39;t fish. I wouldn&#39;t use fish because I&#39;m used to writing bash syntax.
Window Manager I use bspwm. It&#39;s very easy to configure, and you can easily script it.
        </p>
        
            <div class="read-more-button">
                <a href="/posts/software-i-use/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/schule/">Schule</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-08-27</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 3 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/school">school</a>
            
                
                <a class="tag" href="/tags/education">education</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            You&#39;d always hear the kids say &#34;School is useless because they don&#39;t teach you anything useful, and you can get a job without going to school!&#34;
I always used to think that was a major coping mechanism people resort to when they get a low test grade. I still do think that, but there is still some truth to it.
The main reason school exists is for people to become educated, right?
        </p>
        
            <div class="read-more-button">
                <a href="/posts/schule/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
</div>

        
    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
