<head>
    <title>Self-hosting a Stardew Valley and SVE Server</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1 class="MUGA">
            Self-hosting a Stardew Valley and SVE Server
        </h1>
        
            <table class="info">
    <tbody>
        <tr class="info-date">
            <td><i class="bi bi-clock"></i></td>
            <td>0001-01-01</td>
        </tr>
        <tr class="info-reading-time">
            <td><i class="bi bi-hourglass"></i></td>
            <td>Reading time 1 min.</td>
        </tr>
        <tr class="info-tags">
            <td><i class="bi bi-tags"></i></td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>

        
        
<p>
Here I show very quick guide on how to set up a Stardew Valley server with Docker.</p>
<div id="outline-container-headline-1" class="outline-2">
<h2 id="headline-1">
Vanilla Stardew
</h2>
<div id="outline-text-headline-1" class="outline-text-2">
<p>
This <a href="https://github.com/printfuck/stardew-multiplayer-docker">git repository</a> lets you start up a server as quickly as possible. Note that this will install SMAPI, but it will still be considered &#34;vanilla&#34; since the clients do not have to install any mods, and the gameplay will remain like vanilla. The mods included in this repository are only necessary for automatically hosting a game.</p>
</div>
</div>
<div id="outline-container-headline-2" class="outline-2">
<h2 id="headline-2">
CPU
</h2>
<div id="outline-text-headline-2" class="outline-text-2">
<p>
On a decent machine, you might notice that the CPU usage might be a little bit high, and your temps will increase to about 60 C. This is because the game also has to render, and it is running under an X server. This introduces too much overhead.</p>
<p>
You can decrease CPU usage by decreasing the resolution in your <code>docker-compose.yml</code>.</p>
<div class="src src-conf">
<pre tabindex="0"><code class="language-conf" data-lang="conf">services:
  valley:
    # ...
    environment:
      # ...
      - &#34;DISPLAY_HEIGHT=640&#34;  # default is 900
      - &#34;DISPLAY_WIDTH=480&#34;  # default is 1200
      # ...</code></pre>
</div>
</div>
</div>
<div id="outline-container-headline-3" class="outline-2">
<h2 id="headline-3">
Modded
</h2>
<div id="outline-text-headline-3" class="outline-text-2">
<p>
The </p>
<div id="outline-container-headline-4" class="outline-3">
<h3 id="headline-4">

</h3>
</div>
</div>
</div>

        <h2 id="comments">Comments</h2>
        <div id="remark42">
</div>
<script>
 var remark_config = {
     host: "https://remark.sandvich.xyz",
     site_id: "sandvich",
     url: "https://sandvich.xyz/posts/stardew-valley-server/",
     locale: "en",
     
 };

 (function(c) {
     for(var i = 0; i < c.length; i++){
         var d = document, s = d.createElement('script');
         s.src = remark_config.host + '/web/' + c[i] +'.js';
         s.defer = true;
         (d.head || d.body).appendChild(s);
     }
 })(remark_config.components || ['embed']);
</script>

        <div id="footer">
    <hr>
     <center>
         who is he talking to <img src="/LULE.png" style="vertical-align: middle;">
     </center>
</div>

    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
