<head>
    <title>Tags</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1>
            Tags
        </h1>
        <ul class="tag-list">
            
                <li>
                    <a href="/tags/misc">misc (4)</a>
                </li>
            
                <li>
                    <a href="/tags/software">software (3)</a>
                </li>
            
                <li>
                    <a href="/tags/technology">technology (3)</a>
                </li>
            
                <li>
                    <a href="/tags/contact">contact (1)</a>
                </li>
            
                <li>
                    <a href="/tags/education">education (1)</a>
                </li>
            
                <li>
                    <a href="/tags/emacs">emacs (1)</a>
                </li>
            
                <li>
                    <a href="/tags/english">english (1)</a>
                </li>
            
                <li>
                    <a href="/tags/jellyfin">jellyfin (1)</a>
                </li>
            
                <li>
                    <a href="/tags/language">language (1)</a>
                </li>
            
                <li>
                    <a href="/tags/school">school (1)</a>
                </li>
            
        </ul>
    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
