<head>
    <title>jellyfin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1>
            
                Posts tagged with #jellyfin
        </h1>
        
            <div class="post-list">
    
        
<div class="post-item more">
    <h1>
        <a href="/posts/batch-download-music/">Batch download music into your Jellyfin server!</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2023-01-25</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 2 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/jellyfin">jellyfin</a>
            
                
                <a class="tag" href="/tags/software">software</a>
            
                
                <a class="tag" href="/tags/technology">technology</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            Disclaimer: this guide is only for educational purposes and I do not recommend or condone any of this. Of course, piracy is bad and illegal. You wouldn&#39;t download a car. This is just a guide on what services you definitely should not use.
Deemix Deemix is a piece of software that allows you to rip music straight from Deezer. A lot of online pirates are probably familiar with this tool, as it allows them to easily and quickly access millions of songs from the streaming service.
        </p>
        
            <div class="read-more-button">
                <a href="/posts/batch-download-music/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
</div>

        
    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
